---
import { author } from '../../../data/author';
import FormattedDate from '../../FormattedDate.astro';
import { slugifyTag as slugify } from '../../../lib/slug';

interface Props {
  pubDate: Date;
  readingTimeMin: number;
  authorName?: string;
}
const { pubDate, readingTimeMin, authorName } = Astro.props as Props;
---

<div class="py-2">
  <p class="text-4xl font-semibold text-[color:var(--accent)]">
    Marina Sanabria
  </p>
</div>